<html lang="en">
<body>
<form action="{{ base_url }}/upload" method="POST"
      enctype="multipart/form-data">
    <input type="file" name="file" accept="application/pdf"/>
    <br>
    <label title="Kategorie">
        <input name="category">
    </label>
    <br>
    <label>
        <input type="submit" value="Upload now"/>
    </label>
</form>

<table>
    <tr>
        <th>Kategorie</th>
        <th>Datei</th>
        <th>Status</th>
    </tr>
    <tr>
    </tr>
    {% for upload_file in upload_files %}
    <tr>
        <td>{{ upload_file.category }}</td>
        <td>{{ upload_file.filename }}</td>
        <td>{{ upload_file.status }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>