{% extends "layout.html" %}

{% block title %}Import{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<!--suppress HtmlUnknownTarget -->
<form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="file_upload" class="form-label">Lade ein <strong>neues Dokument</strong> hoch:</label>
        <input class="form-control" type="file" id="file_upload" accept="application/pdf" name="file">
    </div>
    <div class="mb-3">
        <label for="file_category" class="form-label">Gib eine <strong>Kategorie</strong> für dein Dokument an:</label>
        <input class="form-control" id="file_category" name="category">
    </div>
    <div class="mb-3">
        <label for="submit_upload" class="form-label"></label>
        <input class="btn btn-light" id="submit_upload" type="submit" value="Jetzt hochladen">
    </div>
</form>
{% endblock %}
